.viewEvent {
  margin-inline: 16px;

  &__deteilsWrapper {
    margin: 0 16px;
  }

  &__line {
    height: 2px;
    width: 95%;
    background-color: #cb6ce6;
    border-radius: 2px;
    margin-block: 12px;
  }

  &__devideLine {
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
    margin-block: 16px;
  }

  &__nameWrapper {
    margin: 16px;

    &[open] span {
      display: block;
      width: 24px;
      height: 24px;
      padding: 10px;
      background-image: url('../../assets/icons/Minus.svg');
    }
  }

  &__name,
  &__time {
    font-family: 'Manrope', sans-serif;
    text-align: start;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: block;
      background-image: url('../../assets/icons/Plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      padding: 10px;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__text {
    width: fit-content;
  }

  &__timePoint {
    padding-top: 10px;
    line-height: 120%;
    letter-spacing: 0;
    font-size: 24px;
  }

  &__time {
    margin-top: 40px;
    margin-left: 16px;
  }

  &__info,
  &__location,
  &__rules {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #495057;
    text-align: left;
    margin-top: 8px;
  }

  &__location {
    color: #212529;
  }

  &__rules {
    color: #000;
  }

  &__knowMore {
    color: #212529;
    background-color: #7eda57;
    width: 100%;
    height: 49px;
    padding-block: 12px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: 16px;
  }

  &__register {
    color: #212529;
    background-color: #7eda57;
    width: 100%;
    height: 49px;
    padding-block: 12px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: 16px;
  }
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}