.ourProjects {
  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: #f8f9fa;
    pointer-events: all;
  }

  &__title {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0;
    color: #212529;
    margin-block: 40px 47.5px;
  }

  &__deteilsWrapper {
    margin: 0 16px;
  }

  &__devideLine {
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
    margin-block: 16px;
  }

  &__nameWrapper {
    margin: 16px;

    &[open] span {
      display: block;
      width: 24px;
      height: 24px;
      padding: 10px;
      background-image: url('../../assets/icons/Minus.svg');
    }
  }

  &__name {
    font-family: 'Manrope', sans-serif;
    text-align: start;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: block;
      background-image: url('../../assets/icons/Plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      padding: 10px;
    }
  }

  &__info {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #495057;
    text-align: left;
    margin-top: 8px;
  }

  &__knowMore {
    color: #212529;
    background-color: #7eda57;
    width: 100%;
    height: 49px;
    padding-block: 12px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: 16px;
  }
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}