.registerTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 16px;
  margin-top: 18px;

  &__backButton {
    display: flex;
    align-items: center;
  }

  &__backIcon {
    margin-right: 10px;
  }

  &__close,
  &__backIcon {
    width: 24px;
    height: 24px;
  }

  &__back {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #495057;
  }

  &__levelLine {
    margin: 36px auto 16px;
    width: 108px;
    height: 2px;
    border-radius: 2px;
    background-color: #e9ecef;
  }

  &__passedPartsLevel {
    border-radius: 2px;
    width: 27px;
    height: 2px;
    background-color: #7eda57;
    transition: width 2s ease-in-out;

    &__twoThird {
      width: 81px;
    }

    &__full {
      width: 108px;
    }
  }
}
