@use '../../styles/mixins.module' as mixins;

.personalization {
  &__title {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0;
    color: #212529;
  }

  &__littleTitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: #495057;
    margin-block: 16px 24px;
  }

  &__form {
    margin: 0 16px;
    text-align: left;
  }

  &__label {
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #212529;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee2e6;
    margin-block: 8px;

    padding: 12px;
    box-sizing: border-box;

    &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      color: #6c757d;
    }

    &--error {
      border-bottom: 1px solid #9d0208;
    }

    &--confirmed {
      border-color: 1px solid #4f772d;
    }
  }

  &__errorWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__confirmedWrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 8px;
    color: #4f772d;
  }

  &__error {
    @include mixins.font-standart-size-16;

    line-height: 140%;
    letter-spacing: 0;
    color: #9d0208;
  }
}