.calendar {
  @media (min-width: 768px) {
    width: 567px;
    margin: 80px auto 0;
    border: 1px solid #dee2e6;
  }

  &__title {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0;
    margin-bottom: 24px;
    color: #212529;

    &--inFlow {
      margin-top: 64px;
    }
  }

  &__topics {
    padding: 0 32px;
  }

  &__slide {
    width: fit-content !important; // use important to change rules from library
  }

  &__category {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    padding: 11px 12px;
    background-color: #fff;
    border: none;
    border: 1px #dee2e6 solid;
    border-radius: 8px;
    color: #495057;
  }

  &__year {
    margin-block: 30px;
  }

  &__crumbs {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
  }

  &__month {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0;
    color: #212529;
  }

  &__move {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-inline: 18px;
  }

  &__back {
    background-image: url('../../assets/icons/Arrow-left-without-border.svg');
  }

  &__forward {
    background-image: url('../../assets/icons/Arrow-right-without-border.svg');
  }

  &__weekDay {
    font-family: 'Manrope', sans-serif;
    color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43.57px;
    height: 48px;
  }

  &__weekDays {
    padding-bottom: 8px;
  }

  &__calendarGrid,
  &__weekDays {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(7, fit-content(24px));
    margin: 0 auto;
    row-gap: 8px;
    column-gap: 4px;
  }

  &__calendarGrid {
    margin-bottom: 58.43px;
  }

  &__dayCell {
    margin: 0 auto;
    color: #212529;
    cursor: pointer;

    width: 43.57px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &_hasEvent {
      position: relative;

      &::after {
        content: '';

        position: absolute;
        bottom: 9px;

        width: 24px;
        height: 2px;
        background-color: #cb6ce6;
        border-radius: 2px;
      }
    }

    &_selected {
      border: 1px solid #07029d;
      border-radius: 4px;
    }
  }

  &__day {
    display: block;
    &_outside {
      color: #ced4da;
    }
  }
}