.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url('../../assets/background_header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
  height: 100vh;
  width: 100%;

  &__none {
    background-color: #2125298C;
    pointer-events: none;
    position: relative;
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: #f8f9fa;
    pointer-events: all;
  }

  &__mainTitle {
    font-family: 'Manrope', sans-serif;
    color: #f8f9fa;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 110%;
    margin-inline: 32px;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 8px;
  }

  &__grapheme {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0;
  }

  $colors: (
    red: #ff3131,
    orange: #ff924d,
    yellow: #ffdf59,
    green: #7Eda57,
    blue: #5271FF,
    purple: #cb6ce6
  );

@each $name, $value in $colors {
  &__grapheme_#{('' + $name)} {
    color: $value;
  }
}

&__title {
  font-family: 'Manrope', sans-serif;
  margin-block: 56px 36px;
  color: #f8f9fa;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
}

&__join {
  color: #212529;
  background-color: #7eda57;
  padding: 12px 107px;
  border: none;
  border-radius: 8px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
}
}