.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url('../../assets/background_header.png');

  // background-image: url('../../assets/background_header.png');
  // background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));

  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 393px) {
    background-size: 180%;
  }

  @media (min-width: 768px) {
    background-size: 100%;
  }

  @media (min-width: 1280px) {
    background-size: 100%;
    background-image: none;
  }

  &__wrapper {
    @media (min-width: 1280px) {
      margin: 0 48px 48px 48px;
      background-size: 100%;

      background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../assets/background_header.png');

      background-position: center;
      background-repeat: no-repeat;
      height: 704px;
      border-radius: 8px;
    }
  }

  height: 100vh;
  width: 100%;

  &__none {
    background-image:
      linear-gradient(rgba(21, 25, 29, 0.81), rgba(21, 25, 29, 0.81)),
      url('../../assets/background_header.png');

    pointer-events: none;
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: #f8f9fa;
    pointer-events: all;
  }

  &__mainTitle {
    font-family: 'Manrope', sans-serif;
    color: #f8f9fa;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 110%;
    margin-inline: 32px;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 8px;

    @media (min-width: 1280px) {
      margin: 0;
      white-space: pre-line;
      text-align: left;
      padding-top: 48px;
      padding-left: 48px;
      font-size: 96px;
    }
  }

  &__elementsWrapper {
    margin-inline: 16px;
  }

  &__grapheme {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0;
  }

  $colors: (
    red: #ff3131,
    orange: #ff924d,
    yellow: #ffdf59,
    green: #7Eda57,
    blue: #5271FF,
    purple: #cb6ce6
  );

@each $name, $value in $colors {
  &__grapheme_#{('' + $name)} {
    color: $value;
  }
}

&__title {
  font-family: 'Manrope', sans-serif;
  margin-block: 56px 36px;
  font-size: 24px;

  @media (min-width: 1280px) {
    margin-block: 198px 24px;
    font-size: 48px;
  }

  color: #f8f9fa;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}

&__join {
  color: #212529;
  background-color: #7eda57;
  padding: 12px;
  width: 100%;
  font-size: 18px;

  @media (min-width: 1280px) {
    width: 361px;
    font-size: 20px;
  }

  height: 49px;
  border: none;
  border-radius: 8px;
  font-family: 'Manrope',
  sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;

  cursor: pointer;
  text-align: center;
}
}