.personalization {
  &__form {
    margin: 0 16px;
    text-align: left;
  }

  &__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #212529;

    &__radio {
      display: flex;
      align-items: center;
    }
  }

  &__wrapper {
    margin-top: 8px;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee2e6;
    margin-block: 8px 16px;

    padding: 12px;
    box-sizing: border-box;

    &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      color: #6c757d;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;

    &__default {
      background-image: url('../../assets/icons/Radio-default.svg');
    }

    &__chosen {
      background-image: url('../../assets/icons/RadioSelected.svg');
    }
  }
}
