@use '../../styles/mixins.module' as mixins;

.registerForm {
  min-height: 852px;
  box-sizing: border-box;
  position: relative;

  &__levelLine {
    margin: 36px auto 16px;
    width: 108px;
    height: 2px;
    border-radius: 2px;
    background-color: #e9ecef;
  }

  &__passedPartsLevel {
    border-radius: 2px;
    width: 27px;
    height: 2px;
    background-color: #7eda57;
  }

  &__form {
    display: flex;
    flex-direction: column;
    // height: 100%;
    margin: 0 16px 40px;
    // position: relative;
    gap: 16px;
  }

  &__wrapperForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__label {
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #212529;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee2e6;
    margin-top: 8px;

    padding: 12px;
    box-sizing: border-box;

    &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      color: #6c757d;
    }
  }

  &__errorOfFirstName,
  &__errorOfLastName,
  &__errorOfEmail,
  &__errorOfNumber {
    @include mixins.font-standart-size-16;

    display: none;
    line-height: 140%;
    color: #9d0208;
  }

  &__isError {
    display: block;
    overflow: hidden;
    margin-top: 8px;

    & div {
      margin-top: 2px;
    }
  }

  &__errorIcon {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  &__buttonWrapper {
    display: block;
    width: 361px;
    height: 49px;
    // position: absolute;
    bottom: 0;
  }
}
