.contacts {
  &__none {
    pointer-events: none;
    position: relative;
    background-color: #2125298C;
  }

  &__wrapper {
    margin-inline: 16px;
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: #f8f9fa;
    pointer-events: all;
  }

  &__title {
    font-family: 'Manrope';
    font-weight: 400;
    color: #212529;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0;
  }

  &__describe {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin-block: 24px;
  }

  &__container {
    display: block;
    border: 1px solid #ced4da;
    position: relative;
    min-width: 297px;
    max-width: 361px;
    height: 305px;
    margin: 0 auto 40px;
    border-radius: 8px;
    text-decoration: none;
    padding-inline: 24px;
    box-sizing: border-box;
  }

  &__emailTitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    color: #212529;
    margin-block: 24px 16px;
    text-align: start;
  }

  &__toCall {
    text-decoration: none;
    width: 44px;
    height: 44px;
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #212529;
    text-align: start;
  }

  &__icon {
    width: 39px;
    height: 39px;
    margin-right: 70px;
    margin-bottom: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__socialNetworks {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
  }

  &__insta {
    width: 48px;
    height: 48px;
    margin: 16px auto 24px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-inline: 16px;
    padding-bottom: 56px;
  }

  &__hours,
  &__phone,
  &__adress {
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    color: #000;
  }

  &__line {
    height: 2px;
    background-color: #ff924d;
    border-radius: 2px;
    margin-block: 12px;

    &--cellPhone {
      width: 86.6%;
    }
  }

  &__time,
  &__call,
  &__place {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    color: #212529;
    text-align: left;
  }

  &__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__iconPhone {
    width: 44px;
    height: 44px;
  }
}